#top {
    height: 100vh;
    
    .slideshow {
        width: 84%;
        height: 84%;
        margin-left: 8%;
        margin-right: 8%;
        background-image: url("../images/1317285_s.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        // background-color: #aaa;
    }
}
